.container{
    min-height: 100%;
max-height: max-content;
   
    width: 100%;
    display: flex;
    
   
    /* margin-bottom: 10px;s */
    display: flex;
    flex-direction: column;
    /* background-color: green; */

}
@media screen  and (max-width : 768px){
    .container{
 min-height: 80vh;
        max-height: max-content;
        width: 100%;
        display: flex;
        

    }
    
}