*{
  margin: 0px;
  padding: 0px;
}
:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #F5F5F5; /* green text */
  /* background-color: #074339; black background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: max-content;


}

:root  ::-webkit-scrollbar { width: 8px; }
:root::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.08); border-radius: 6px; }